*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
background-color: black;

}
.back-video{
    position: absolute;   
    z-index: -1;
    width: 1222px;
    background-color: black;   
}

.menu{
    position: relative;
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-color: black;
}

/* Your existing CSS styles */

.mp p {
    position: fixed;
    top: 20px;
    right: 10px;
    color: #ffffff;
    font-size: 40px;
    font-family: 'Lobster', cursive;
    background-color: black;
}
  
.containerr {
    position: fixed;
    top: 370px;
    right: 250px;
  }
  
  .instrument-symbols {
    display: flex;
    font-size: 37px;
    align-items: flex-end;
    flex-direction: column;
  }
  
  .instrument-symbols span {
    margin-right: 10px;
  }
  .symbol {
    font-size: 40px;
    margin-bottom: 10px;
  }

nav {
    position: fixed;
    top: 220px;
    right: 100px;
    background-color: #333;
    color: #fff;
    font-size: 40px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
   
  }
  
  nav ul li a {
    display:block;
    padding: 5px;
    color: #fff;
    text-decoration:none;
  }
  
  ul li a:hover{
    background:blue;
    color:aliceblue; 
    border-width: 5px;
    border-top-style:ridge;
    border-radius: 55%;
    padding: 10px;  
}


.s{
position: fixed;
top: 610px;
right:310px;
background-color: black;
color: #fff;
font-size: 30px;
font-family: 'Lobster', cursive;
border-width: 5px;
border-top-style:ridge;
border-radius: 55%;
padding: 10px;
}


.s a {
  display:block;
  padding: 5px;
  color: #fff;
  text-decoration:none;
  background-color:black;
  border-width: 5px;
  border-top-style:ridge;
  border-radius: 55%;
  padding: 10px;
  font-family: 'Times New Roman'; 
}

.s a:hover{
  background:blue;
  color:aliceblue;
  border-width: 5px;
  border-top-style:ridge;
  border-radius: 55%;
  padding: 10px; 
}
  

/*.navbar{
    float: right;
    display: flex;
    margin: 10px 15px;
    align-items: center;
    padding: 15px 0;
    background-color: black;
}
.navbar ul li{
    text-decoration: none;
    margin: 0 15px;
    display: list-item;
padding: 10px;
    margin-top: 30px;
    background-color: black;
   
 
}
.navbar ul li a{
    text-decoration: none;
    font-size: 35px;
    color: aliceblue;
    background-color: black;
}*/

.columns{
    width: 100%;
    position: absolute;
    top: 93%;
    background-color: black;
}
.left-col{
    margin-left: 22%;   
}


.left-col h1{
    color: aliceblue;
    background: transparent;
    font-family: 'Times New Roman';
    word-spacing: 10px;    
}


.right-col{
    float: right;
    display: flex;
    align-items: center;
    margin-right: 12%;
    margin-top: 8000px;
    margin: 1px;
position: absolute;
margin-left: 36%;
top: -725%;
background: transparent;
}

.right-col p{
    font-size: 18px;
    color: aliceblue;
    font-weight: bold;
    margin-right: 10px;
    font-size: 25px;
    background: transparent;
    
}

#icon{
    width: 45px;
    cursor: pointer;
     
}

.container{
    min-height: -500vh;
    background-color:black;
    color: white;
    display: flex;
    width: 14%;
    height: 1%;
    margin: 22px auto;
    border-radius: 10px;
    padding: 33px;
    padding-top: 350px;
    padding-left: 10px;
    padding-right: 0px;
    float: right;
    left: 900px;

}
  
.bottom{
    position: sticky;
    height: 160px;
    color: white;
    background-color:transparent;
    bottom: 0;
    display: flex;
    flex-direction: column;
    /* margin: 44px -7px;
    padding: 19px 62px; */
    justify-content: center;
    align-items: center;
}

.icons{
    margin-top: 13px;
}


.icons i{
    padding: 4px 4px;
    cursor: pointer;
}

#progressbar{
    width: 80vw;
    text-align: center;
    /* color: blue; */
    cursor: pointer;
    /* margin-top: 22px; */
}

.songitem{
    height: 30px;
    /* padding: 23px 34px; */
    display: flex;
    background-color: transparent;
    /* width: 72%; */
    color: aliceblue;
    margin: 16px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 45px;
    
}
.songitem img{
    width: 36px;
    height: 26px;
    margin: -5px 18px;
border-radius: 12px;
}
.timestamp{
    margin: 0 23px;
    /* cursor: pointer; */
}
.timestamp i{
    cursor: pointer;
}
.songcontainer{
    margin-top: 33px;

}
/*.songinfo{
position: absolute;
display: flex;
left: 8vw;
margin: -48px 14px;
padding: 8px 10px
}
.songinfo img{
  opacity: 0;
  /* height: 100%; 
  transition: opacity 0.5s ease-in;
}
.icons p{
    
    font-size: 1.3rem;
    margin-top: 22px;
}*/
/*body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }*/
